 .body{
   background-image: url("https://images.unsplash.com/photo-1610962381137-50ef93055125?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
   background-size: cover;
  background-position: center center;
  height: 100vh;
  
}


a {
  text-decoration: none;
  font-weight: bold;
}

li {
  list-style-type: none;
  
}

.navbar {
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(37, 47, 56);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar-content {
  float: right;
  padding-top: 20px;
  
  
}
.main-heading {
  display: inline;
  font-weight: bold;
  
  color: antiquewhite;
  
}
button {
  background-color: rgb(233, 222, 208);
  border: none;
  border-radius: 10px;
}
button:hover{
    transform: scale(1.2);
    background-color: rgb(0, 0, 0);
    color: white;
    
}

.homedesign{
  display: flex;
  flex-direction: column;
   
   font-size: 20px;
   font-weight: bold;
  background-color: rgba(0, 0, 0, 0.315);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  
}
#learn{
  
  font-size: 25px;
  
  margin: 80px;
}
.middle-heading{
  font-weight: bold;
  font-size: 50px;

}
.container{
    
    display: flex;
    justify-content: space-evenly;
   
    background-color: white;
    flex-wrap: wrap;
   
 }

.container div{
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px ;
  background-color: rgb(85, 13, 0);
}
.box{
   flex-basis: 20%;
   margin: 40px;
   box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);

}

.box-heading{
  color: rgb(12, 11, 11);
  margin-top: 0;
  text-align: center;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px ;
  background-color: rgb(233, 222, 208);
}
.text{
  color: rgb(233, 222, 208);
  padding: 15px;
}
.box:hover{
  transform: scale(1.2);
}
.buttons{
  background-color: rgb(233, 222, 208);
  display: flex;
  box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
  justify-content: space-around;
  flex-direction: column;
  
}
.buttons div{
   flex-basis: 25%;
   margin-top: 50px;
   background-color: rgb(233,222,208);
}
.box1{
   
   color: rgb(233, 222, 208);
  
}
.button-heading{
  border-top-left-radius: 25px;
  background-color: rgb(184, 84, 44);
  border-bottom-right-radius: 25px ;
  margin-top: 0;
  text-align: center;
  color: black;
}
.button-content{
  color: black;
  text-align: justify;
  padding: 30px;
}
.footer{
  margin-top: 100px;
  display: flex;
  background-color: black;
  box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -7px 14px 0px rgba(0,0,0,0.75);
 justify-content: space-between;
 flex-wrap: wrap;
 padding-bottom: 35px;
}
.footer div{
 
 /* margin: 20px;
  margin-top: 80px;
  margin-bottom: 80px; */
  flex-basis: 25%;
  
}
.footer-heading1{
  text-align: center;
  color: white;
  font-weight: bold;
}
.footer-heading2{
  color: white;
  font-weight: bold;
}
.linkname{
  display: inline;
  color:  rgb(189, 185, 185);
}
.footer-heading3{
  color: white;
}
.footer-heading4{
  color: white;
}

.linkname:hover{
  color: rgb(233, 222, 208);
}
@media (max-width:400px){
  #learn{
   position: absolute;
   
  }
  .middle-heading{
    font-size: 25px;
  }
}
@media ( max-width:600px){
  .body {
    background-position: center right;
  }
  .middle-heading{
    position: absolute;
    top:40%;
    color:rgb(255, 255, 255);
    font-size: 30px;
  }
  #learn{
    position: absolute;
    top:60%;
    
  }
}